<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>회원 가입</h2>
    </div>
    <h4 class="mb-3">회원 정보 입력</h4>
    <form action="" method="post" th:object="${member}">
        <div>
            <label for="loginId">로그인 ID</label>
            <input type="text" id="loginId" th:field="*{loginId}"
                   th:class="${errors?.containsKey('loginId')} ? 'form-control field-error' : 'form-control'"
                   class="form-control">
            <div class="field-error" th:if="${errors?.containsKey('loginId')}" th:text="${errors['loginId']}">에러</div>
        </div>
        <div>
            <label for="name">이름</label>
            <input type="text" id="name" th:field="*{name}"
                   th:class="${errors?.containsKey('name')} ? 'form-control field-error' : 'form-control'"
                   class="form-control">
            <div class="field-error" th:if="${errors?.containsKey('name')}" th:text="${errors['name']}">에러</div>
        </div>
        <div>
            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password"
                   th:class="${errors?.containsKey('password')} ? 'form-control field-error' : 'form-control'"
                   class="form-control">
            <div class="field-error" th:if="${errors?.containsKey('password')}" th:text="${errors['password']}">에러</div>
        </div>

        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">회원
                    가입</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='board/board.html'"
                        th:onclick="|location.href='@{/}'|"
                        type="button">취소</button>
            </div>
        </div>
    </form>
</div> <!-- /container -->
</body>
</html>